body {
  font-family: Alef;
  background-color: #E5E5E5;

}


*{
  padding: 0;
  margin: 0;
}

.dots{
  display:block;
  max-width: 150px;
  white-space: nowrap;
  overflow: hidden !important;
  text-overflow: ellipsis;
}
